@model SubtitleViewerWeb.Models.UploadModel

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Subtitles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h5>Browse subtitle files on this computer.</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 editor-field">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Browse&hellip; <input type="file" name="File" style="display: none;" multiple>
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
                @Html.ValidationMessageFor(model => model.File)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Style, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Style, Model.StylesList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Style, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="time-form-group-id" class="form-group" hidden>
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Time, new { @class = "form-control text-box single-line", @Value = "", @placeholder = "00:00:00" })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#Style').change(function () {
                var value = $(this).val();
                if (value == "Remaining") {
                    $('#time-form-group-id').show();
                    $('#Time').prop('required', true);
                } else {
                    $('#time-form-group-id').hide();
                    $('#Time').prop('required',false);
                }
            });
        });
    </script>
}
